
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img alt="logo" id="dog-logo" src="assets/img/dog-logo.png"> </a>
    <button class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a href="/become-sitter" class="nav-link" *ngIf="isLoggedIn && !isSitter" routerLink="become-sitter">Become Host</a>
        </li>
        <li class="nav-item">
          <a href="/sitter-profile" class="nav-link" *ngIf="isLoggedIn && isSitter" routerLink="sitter-profile">My Sitter Profile</a>
        </li>
        <li class="nav-item">
          <a href="/become-client" class="nav-link" *ngIf="isLoggedIn" routerLink="become-client">Become Client</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">MyProfile</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
