

<div class="container" *ngIf="currentUser; else loggedOut">


  <img [src]="retrievedImage" alt="">

  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>ID:</strong>
    {{ currentUser.id }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
  <strong>User Data:</strong>
  <ul>
    <li> Username: {{currentUser.username}} </li>
    <li>First name:  {{currentUser.userDetails.firstName}}</li>
    <li> Last Name:  {{currentUser.userDetails.lastName}}</li>
    <li> Phone Number: {{currentUser.userDetails.phone}}</li>
    <li>Address: {{currentUser.userDetails.address}}</li>
  </ul>

  <strong> Coordinates:</strong>
  <ul>
    <li> Latitude: {{currentUser.userDetails.userCoordinates.latitude}}</li>
    <li>Longitude: {{currentUser.userDetails.userCoordinates.longitude}}</li>
  </ul>

  <strong>User Account status:</strong>
  <ul>
    <li>Is active: {{currentUser.userAccountStatus.isActive}}</li>
    <li>Is Banned: {{currentUser.userAccountStatus.isBanned}}</li>
    <li>Is Client: {{currentUser.userAccountStatus.isClient}}</li>
    <li>Is Host: {{currentUser.userAccountStatus.isHost}}</li>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
