<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <img class="icon" src="assets/img/dog-logo.png">
        <hr class="light">
        <p>0123-456-789</p>
        <p>email@email.com</p>
        <p>Romania, Brasov, 500119</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Our hours</h5>
        <hr class="light">
        <p>Monday: 09:00 - 16:00</p>
        <p>Tuesday: 09:00 - 16:00</p>
        <p>Saturday: 09:00 - 16:00</p>
        <p>Sunday: Closed</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Service Area</h5>
        <hr class="light">
        <p>Monday: 09:00 - 16:00</p>
        <p>Tuesday: 09:00 - 16:00</p>
        <p>Saturday: 09:00 - 16:00</p>
        <p>Sunday: Closed</p>
      </div>

      <div class="col-12">
        <hr class="light-100">
        <h5>&copy;Happypets</h5>
      </div>
    </div>
  </div>
</footer>
