footer {
  width: 100%;
  background-color: #3f3f3f;
  padding: 2rem;
  color: #d5d5d5;
}

footer a {
  color: #D5D5D5;
}

hr.light-100 {
  border-top: 1px solid #D5D5D5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light {
  border-top: 1px solid #D5D5D5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.fa {
  padding: 15px;
  font-size: 25px;
  color: #FFFFFF;
}

.fa:hover {
  color: #D5D5D5;
  text-decoration: none;
}

.icon {
  max-width: 150px;
}


@media (max-width: 768px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .icon{
    padding-top: 5%;
    max-width: 100px;
  }
}
