
<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae et explicabo temporibus
        voluptatibus? Aliquid, animi asperiores commodi ex, explicabo harum nemo nesciunt odio omnis possimus quia sint
        veritatis? Nemo, repudiandae.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a href="#">
        <button class="btn btn btn-outline-secondary btn-lg" type="button">Learn more about us</button>
      </a>
    </div>
  </div>
</div>
