<div class="container">
  <div class="text-center">
    <img src="assets/img/forgot-password.jpg" class="rounded-circle" alt="">
  </div>
  <br>
  <div class="text-center" *ngIf="!foundUser">
    <h3> Forgot Pawssword? </h3>
    <p class="lead">Don't worry. Our team is sniffing for it.</p>

    <div class="text-center">


      <h5>Tell us what do you remember about your account.</h5>

      <div>
        <div>
          <p>I do remember my: </p>
          <button mat-button color="primary" class="mr-3" (click)="rememberedField = 'email'"> Email</button>
          <button mat-button color="primary" class="ml-3" (click)="rememberedField = 'username'"> Username</button>
        </div>


        <div *ngIf="rememberedField === 'username'">
          <mat-form-field class="w-50">
            <mat-label>Username</mat-label>
            <input type="text"
                   class="w-100"
                   required
                   name="field"
                   [(ngModel)]="recoveryModel.rememberedField"
                   matInput>
          </mat-form-field>
        </div>

        <div *ngIf="rememberedField === 'email'">
          <mat-form-field class="w-50">
            <mat-label>Email</mat-label>
            <input type="text"
                   required
                   name="field"
                   [(ngModel)]="recoveryModel.rememberedField"
                   matInput>
          </mat-form-field>
        </div>


        <mat-form-field class="w-50">
          <mat-label>Security Question</mat-label>
          <mat-select matNativeControl required>
            <mat-option value="volvo">What is your pet's name?</mat-option>
            <mat-option value="saab">In what year was your mother born?</mat-option>
            <mat-option value="mercedes">In what county where you born?</mat-option>
            <mat-option value="audi">What is the color of your eyes?</mat-option>
            <mat-option value="audi">What is your favorite animal?</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-50 m-2">
          <mat-label>Security Answer</mat-label>
          <input type="text"
                 matInput
                 class="w-100"
                 [(ngModel)]="recoveryModel.securityQuestion"
                 required
                 minlength="3"
                 maxlength="20">
        </mat-form-field>
        <br>
        <button color="primary" *ngIf="rememberedField === 'username'" mat-button (click)="getUserByUsername()">Find by
          Username
        </button>
        <button color="primary" *ngIf="rememberedField === 'email'" mat-button (click)="getUserByEmail()">Find by Email
        </button>
      </div>
    </div>

  </div>

  <div *ngIf="foundUser" class="text-center">
    <h5>Good. Our good boys have found your account!</h5>
    <h4>Insert your new password!</h4>
    <mat-form-field class="w-50 m-2">
      <mat-label>New password</mat-label>
      <input type="password"
             matInput
             class="w-100"
             name="newPassword"
             [formControl]="newPassword"
             required
             (ngModelChange)="print()"
             minlength="6"
             maxlength="20">
      <mat-error *ngIf="newPassword.touched && newPassword.errors?.required"> New password can't be empty!</mat-error>
      <mat-error *ngIf="newPassword.touched && newPassword.errors?.minlength">Password must be at least 6 characters!</mat-error>
    </mat-form-field>

    <button mat-button color="primary" [disabled]="newPassword.invalid" (click)="resetPassword()"> Submit </button>
  </div>
</div>
