<mat-card *ngIf="!isSuccessful" class="mr-auto ml-auto">

  <div class="col-12 text-center padding">
    <mat-card-title>Sign up to Happypets</mat-card-title>
  </div>

  <hr>

  <mat-card-content class="col-12 form-input">
    <form class="ml-auto text-center" name="form" *ngIf="!isSuccessful" name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm" novalidate>

      <ng-template matStepLabel>Credentials</ng-template>

      <!--Username-->
      <mat-form-field class="w-50 m-2">
        <mat-label>Username</mat-label>
        <input type="text"
               matInput
               class="w-100"
               name="username"
               [(ngModel)]="form.username"
               required
               minlength="3"
               maxlength="20"
               #username="ngModel"/>
        <mat-error *ngIf="username.errors">Username is required</mat-error>
      </mat-form-field>


      <!--Email-->
      <mat-form-field class="w-50 m-2">
        <mat-label>Email</mat-label>
        <input type="email"
               matInput
               class="w-100"
               name="email"
               [(ngModel)]="form.email"
               required
               #email="ngModel">
        <mat-error *ngIf="email.errors"> Email is required!</mat-error>
      </mat-form-field>

      <!--Password-->
      <mat-form-field class="w-50 m-2">
        <mat-label>Password</mat-label>
        <input type="password"
               matInput
               class="w-100"
               name="password"
               [(ngModel)]="form.password"
               required
               minlength="6"
               #password="ngModel">

        <mat-error *ngIf="password.errors">Password is required</mat-error>
      </mat-form-field>

      <ng-template matStepLabel>Account data</ng-template>
      <!--Fist name-->
      <mat-form-field class="w-50 m-2">
        <mat-label>First name</mat-label>
        <input type="text"
               matInput
               class="w-100"
               name="fname"
               required
               [(ngModel)]="userDetails.firstName"
               #fname="ngModel">
        <mat-error *ngIf="fname.errors">First name is required!</mat-error>
      </mat-form-field>

      <!--Last name-->
      <mat-form-field class="w-50 m-2">
        <mat-label>Last name</mat-label>
        <input type="text"
               matInput
               class="w-100"
               name="lname"
               [(ngModel)]="userDetails.lastName"
               required
               #lname="ngModel">
        <mat-error *ngIf="lname.errors">Last name is required!</mat-error>
      </mat-form-field>

      <!--Address-->
      <mat-form-field class="w-50 m-2">
        <mat-label>Address</mat-label>
        <input type="text"
               matInput
               class="w-100"
               name="address"
               [(ngModel)]="userDetails.address"
               required
               minlength="3"
               maxlength="20"
               #address="ngModel">
        <mat-error *ngIf="address.errors">Address is required!</mat-error>
      </mat-form-field>

      <!-- Phone Number -->
      <mat-form-field class="w-50 m-2">
        <mat-label>Phone number</mat-label>
        <input type="text"
               matInput
               class="w-100"
               name="number"
               [(ngModel)]="userDetails.phone"
               required
               minlength="3"
               maxlength="20"
               #phone="ngModel">
        <mat-error *ngIf="phone.errors">Phone number is required</mat-error>
      </mat-form-field>

      <div class="w-50">
        <button type="submit" class="btn btn-large btn-block btn-login">Register</button>
      </div>
    </form>

    <p class="small-text text-center margin-v-x6">By signing in or signing up, I agree to Happypets.com's Terms of
      Service and Privacy Policy, confirm that I am 18 years of age or older, and consent to receiving email
      communication.
    </p>
  </mat-card-content>

  <hr>
  <div class="row">
    <div class="col-md-6 text-center" id="registerLink">
      <a href="/login">Already registered?</a>
    </div>

    <div class="col-md-6 text-center">
      <a href="#"> Forgot Password?</a>
    </div>
  </div>
</mat-card>


<div class="" *ngIf="isSuccessful">

  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <h4 class="modal-title">Awesome!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Your account has been created</p>
        <p class="text-center">You will be redirected to login page!</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>

</div>

