.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3-alt {
  color: #2163af;
}

.fa-code, .fa-bold, .fa-css3-alt {
  font-size: 4em;
  margin: 1rem;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

#side-image {
  max-width: 50%;
  margin-left: 150px;
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 200%;
  }

}

@media ( max-width: 576px) {
  .display-4 {
    font-size: 160%;
  }
}

.service-item{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
