<app-carousel></app-carousel>
<app-jumbotron></app-jumbotron>



<!-- WELCOME SECTION-->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">
        From pet lovers, for pet lovers.
      </h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores consequuntur, cupiditate
        delectus eius fugiat inventore ipsam iste minus nobis omnis optio recusandae rem repellendus sint suscipit ullam
        voluptatibus.
      </p>
    </div>
  </div>
</div>
<!-- Three Column Section -->
<div class=" container container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!--      <i class="fas fa-code"></i>-->
      <!--      <h3>HTML</h3>-->
      <!--      <p>Some HTML related Text.Some HTML related Text.</p>-->
      <img src="/assets/img/flow-icons/search-sitter.png" alt="" height="100px">
      <h3>Search pet sitters</h3>
      <p>Browse profiles of sitters near you who offer overnight dog boarding.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <!--      <i class="fas fa-bold"></i>-->
      <!--      <h3>BOOTSTRAP</h3>-->
      <!--      <p>Some BOOTSTRAP related Text.Some BOOTSTRAP related Text.</p>-->
      <img src="/assets/img/flow-icons/meet-in-person.png" alt="" height="100px">
      <h3>Meet in person</h3>
      <p>Schedule a free in-person Meet & Greet to find the perfect fit.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <!--      <i class="fab fa-css3-alt"></i>-->
      <!--      <h3>CSS3</h3>-->
      <!--      <p>Some CSS3 related Text.Some CSS3 related Text.</p>-->
      <img src="/assets/img/flow-icons/book-and-pay.png" alt="" height="100px">
      <h3>Book and pay</h3>
      <p>It’s that easy! All payments are processed through Happypets's secure platform.</p>
    </div>
  </div>
</div>
<hr class="my-4">

<!-- TWO COLUMN SECTION-->
<div class="container">
  <div class="container-fluid padding text-center">
    <h2 class="text-center padding">Our services includes</h2>
    <hr>
    <div class="row padding">

      <div class="service-item col-lg-4 col-sm-6">
        <h3>
          <img src="assets/img/service-icons/dog-boarding.png" alt="">
          Boarding
        </h3>
        <p>Your pets stay overnight in your sitter’s home. They’ll be treated like part of the family in a familiar
          environment.</p>
      </div>

      <div class="service-item col-lg-4 col-sm-6">

        <h3>
          <img src="assets/img/service-icons/house-sitting.png" alt="">
          House sitting
        </h3>
        <p>Your sitter takes care of your pets and your house. Your pets will get all the attention they need without
          leaving home</p>
      </div>

      <div class="service-item col-lg-4 col-sm-6">

        <h3>
          <img src="assets/img/service-icons/drop-in-visits.png" alt="">
          Drop in visits
        </h3>
        <p>Your sitter drops by your home to play with your pets, offer food, and give potty breaks or clean the litter
          box.</p>
      </div>

      <div class="service-item col-lg-4 col-sm-6">

        <h3>
          <img src="assets/img/service-icons/doggy-day-care.png" alt="">
          Dog Walking
        </h3>
        <p>Your dog gets a walk around your neighborhood. Perfect for busy days and dogs with extra energy to burn.</p>
      </div>
      <div class="service-item col-lg-4 col-sm-6">

        <h3>
          <img src="assets/img/service-icons/dog-walking.png" alt="">
          Doggy Day Care
        </h3>
        <p>Your dog spends the day at your sitter’s home. Drop them off in the morning and pick up a happy pup in the
          evening</p>
      </div>
      <div class="service-item col-lg-4 col-sm-6">
        <h3>
          <img src="assets/img/service-icons/pet-grooming.png" alt="">
          Pet Grooming
        </h3>
        <p>Pet grooming that comes to your home.
          Instantly book a professional groomer online, anytime you need one.</p>
      </div>
      <br>

      <!--      <div class="col-lg-6">-->
      <!--        <img alt="" class="img-fluid" id="side-image" src="assets/img/dog-logo.png">-->
      <!--      </div>-->
    </div>
    <!--    <a class="btn btn-primary text-center"  href="#">Learn more in here!</a>-->
  </div>
  <hr class="my-4">
  <!--Meet the team-->
  <app-meet-the-team></app-meet-the-team>
</div>


<hr class="my-4">
<app-social-links></app-social-links>
<app-footer></app-footer>
