<div class="container">
  <div class="jumbotron m-3 landing-page" style="text-align: center">
  </div>
  <div class="no-blur">
    <div class="m-3">
      <p class="display-4 font-weight-bold">Become a Host</p>
      <p class="earn"> Start earning money from taking care of pets!</p>
    </div>
    <div>
      <h3>Start earning up to $1000 / month</h3>
      <button class="btn btn-success"  (click)="router.navigate(['/become-sitter-form'])">Start earning today</button>
    </div>
  </div>



  <div class="row p-3">
    <div class="col-6">
      <h3> Flexibility</h3>
      <ul>
        <li>Your own Schedule</li>
        <li>Offer your own combination of pet care services</li>
        <li>Set size, age and other pet preferences that work for you</li>
      </ul>
    </div>
    <div class="col-6">
      <h3> Tools to succeed</h3>
      <li>24/7 Service Support</li>
      <li>Manage your dog sitting bussiness with rover app</li>
      <li>Your services are protected up to $1,000,000</li>
    </div>
  </div>

  <div class="jumbotron m-3">
    <h3>How it works</h3>
    <div class="row p-3">
      <div class="col-4">
        <h2>Create your profile</h2>
        <p>We guide you through building a profile that showcases information pet parents care about.</p>
      </div>
      <div class="col-4">
        <h3>Accept requests</h3>
        <p>Tell us the types of dogs you want to care for and the dates that work for you. You make your own
          schedule.</p>
      </div>
      <div class="col-4">
        <h3>Get Paid</h3>
        <p>Payments are ready for withdrawal two days after you have completed a service.</p>
      </div>
    </div>
  </div>
</div>
