<h2>Chat Messages</h2>

<div class="container darker">
  <img src="assets/img/dog-logo.png" alt="Avatar" class="right" style="width:100%;">
  <p>Salut prieten! Uite asa as vrea sa arate chat-page-ul meu.</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="assets/img/prieten.jpg" alt="Avatar" style="width:100%;">
  <p>Intr-adevar, un aspect estetic foare frumos. Imi place !</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="assets/img/dog-logo.png" alt="Avatar" class="right" style="width:100%;">
  <p>Multumesc prieten. Ma gandeam ca o sa iti placa.</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="assets/img/prieten.jpg" alt="Avatar" style="width:100%;">
  <p>Dar cu baza de date cum stai? Mesajele astea de unde vin?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="assets/img/dog-logo.png" alt="Avatar" class="right" style="width:100%;">
  <p>Inca nu m-am prins... dar o sa ma prind</p>
  <span class="time-left">11:01</span>
</div>




<div class="container">
  <input type="text" style="width: 85%">
  <button class="btn btn-secondary m-3">Send</button>
</div>
