<div class="container">

  <mat-expansion-panel *ngFor="let sitterResponse of clientPendingRequests" class="m-3">
    <mat-expansion-panel-header class="font-weight-bold">
      From client:  {{sitterResponse.fromClient.firstName}} {{sitterResponse.fromClient.lastName}}
    </mat-expansion-panel-header>

    <mat-card class="m-2">
      <mat-card-title>
        Start date and End date
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [value]="changeValue(sitterResponse.startDate)">
          <!--          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>-->
          <!--          <mat-datepicker #dp1></mat-datepicker>-->
        </mat-form-field>
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [value]="changeValue(sitterResponse.endDate)">
        </mat-form-field>

        <div *ngIf="this.getTimeLeftUntilServiceStarts(sitterResponse.startDate) > 0">
          Request is valabe {{this.getTimeLeftUntilServiceStarts(sitterResponse.startDate)}} more days!
        </div>

        <div *ngIf="this.getTimeLeftUntilServiceStarts(sitterResponse.startDate)==0 ">
          This request is due today!
        </div>

        <!--        From {{sitterResponse.startDate}} to {{sitterResponse.endDate}}-->

      </mat-card-content>
    </mat-card>

    <mat-card class="m-2">
      <mat-card-title>Services requested</mat-card-title>
      <mat-card-content>
        <ul *ngFor="let service of sitterResponse.orderServicesSet">
          <div>
            {{service.name}} - {{service.price}} RON
          </div>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-action-row>
      <button color="primary" class="border border-dark" mat-button (click)="acceptRequest(sitterResponse.id)">Accept
      </button>
      <button color="accent" class="border border-dark" mat-button (click)="declineRequest(sitterResponse.id)">Decline
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
