<div class="container-fluid">

  <div class="row m-4">
    <!--    Harta / pick sitter-->
    <div class="col-md-12" *ngIf="!isSitterChosen">
      <agm-map [latitude]="latitude" [longitude]="longitude">
        <agm-marker *ngIf="selectedUser"
                    [latitude]="selectedUser.userDetails.userCoordinates.latitude"
                    [longitude]="selectedUser.userDetails.userCoordinates.longitude">
        </agm-marker>
        <agm-marker
          [latitude]="curentUser.userDetails.userCoordinates.latitude"
          [longitude]="curentUser.userDetails.userCoordinates.longitude"
          [label]="labelOptions">
        </agm-marker>
      </agm-map>
    </div>

    <div class="col-md-12 pick-sitter" *ngIf="isSitterChosen">

      <form (ngSubmit)="submitRequest()" class="text-center">
        <div>
          <span
            class="font-weight-bold">
            {{this.selectedUser.userDetails.firstName}} {{this.selectedUser.userDetails.lastName}} offers:
          </span>

        </div>


        <div *ngFor="let service of selectedUser.hostService.serviceModelSet">
          <mat-checkbox (change)="handleSitterService($event, service)">
            {{service.name}} - {{service.price}} RON
            <br>
          </mat-checkbox>
        </div>

        <p>Pick at least one service from the following:</p>

        <div class="date m-3">
          <mat-form-field>
            <mat-label>Starting date</mat-label>
            <input matInput [matDatepicker]="startDate" dataformatas="dd/MM/yyyy"
                   (dateChange)="addEvent('startDate', $event)" [min]="todayDate" required>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate [startAt]="startAtDate"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="m-3">
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="endDate" (dateChange)="addEvent('endDate', $event)" [min]="startAtDate"
                   required>
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>

          <div *ngIf="dateDifference">
            Number of days: {{dateDifference * -1}}
          </div>

        </div>


        <button class="btn btn-primary pick" style="float: left" (click)="pickSitter()"> Back to map</button>
        <button class="btn btn-primary pick" type="submit" style="float: right"> Submit request</button>

        <mat-error *ngIf="hasErrors">
          {{requestMessage}}
        </mat-error>
      </form>
    </div>
  </div>

  <div class="row" style="max-height: 55vh">
    <!--    Lista utilizatori -->
    <div class="col-md-6" style="overflow-y: scroll; max-height: 55vh" *ngIf="users.length>0">
      <h3 style="text-align: center"> Sitter list </h3>
      <ul class="heroes">
        <li class="p-3 " *ngFor="let user of users let i = index" [attr.data-index]="i" (click)="onSelect(user)">
          <span class="badge">{{i + 1}}</span>
          {{user.userDetails.firstName}} {{user.userDetails.lastName}}
        </li>
      </ul>
    </div>

    <div class="col-md-6" style="overflow-y: scroll" *ngIf="users.length==0">
      <h3 style="text-align: center"> Sitter list ... is empty :( </h3>
      <div class="text-center">
        <p class="lead"> Oups... it looks like there is no sitters around!</p>
      </div>
    </div>

    <!--    right sitter pannel-->
    <div class="user-info col-md-6" style="max-height: 55vh; overflow-y: scroll" *ngIf="selectedUser">
      <div class="row text-center">
        <h4 class="col-md-4"> Sitter Details </h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-card class="m-3 mt-0">
            <h4>Services acceptance</h4>
            <ul>
              <li>Accepts: {{selectedUser.hostService.animalType}}</li>
              <li>Dog sizes: {{selectedUser.hostService.dogSize}}</li>
              <li>Lives in a: {{selectedUser.hostService.houseType}}</li>
              <li>Has other pets: {{selectedUser.hostService.otherPets}}</li>
            </ul>
          </mat-card>
        </div>

        <div class="col-md-12">
          <mat-card class="m-3 mt-0">
            <h4>Services provided</h4>
            <ul>
              <li *ngFor="let service of selectedUser.hostService.serviceModelSet">
                {{service.name}} - {{service.price}} RON
              </li>
            </ul>
          </mat-card>
        </div>

        <div class="text-center col-12 m-2">
          <!--          <button class="btn btn-primary col-md-4" (click)="viewSitterProfile()"> View profile</button>-->
          <!--          <button class="btn btn-primary col-md-4" (click)="pickSitter()"> Pick sitter</button>-->
          <button mat-flat-button color="primary" (click)="viewSitterProfile()">View profile</button>
          <button mat-flat-button color="accent" (click)="pickSitter()">Pick sitter</button>

        </div>
        <div class="text-center col-12 " >
          <p class="lead ml-auto mr-auto"> DISTANCE: {{distanceBetween}} KM AWAY FROM YOU</p>
        </div>
      </div>
    </div>

  </div>


</div>
