<div class="container">
  <div class="text-center">My User profile</div>
  <mat-card>
    <mat-card class="m-3">
      <h5>Accepted animals</h5>

      <div *ngFor="let animal of animalType">
        {{animal}}
      </div>

    </mat-card>

    <mat-card class="m-3" *ngIf="dogSize">

      <h5>Dog Size</h5>
      <div *ngFor="let size of dogSize">
        {{size}}
      </div>
    </mat-card>

    <mat-card class="m-3">
      <h5>Services provided</h5>
      <div *ngFor="let service of userServices">
        {{service.name}}: {{service.price}} RON
      </div>
    </mat-card>


    <mat-card class="m-3">
      <h5>Type of house</h5>
      <div>
        {{houseType}}
      </div>

    </mat-card>

    <mat-card class="m-3">
      <h5>Other pets</h5>
      <div>
        {{otherPets}}
      </div>
    </mat-card>

  </mat-card>


</div>
