<div class="container">
  <header class="jumbotron" style="text-align: center">
    <p>{{ content }}</p>
    <div>The moderator board should CRUD Users. The moderator can not modify other moderators!</div>
  </header>

  <div class="row">
    <div class="col-12" style="width: 100%;background-color: #607D8B; margin: 5px; padding: 10px; text-align: center">
      <p>Search Users by Email</p>
      <input type="text" placeholder="Insert admin email" style="width: 75%">
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-striped">


      <thead style="background-color: #607D8B">
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>

      </tr>
      </thead>
      <tbody>

      <tr>
        <td>Mock user ID</td>
        <td>Mock Username</td>
        <td>Mock Email</td>
        <td>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-info" style="margin-left: 10px">Details</button>
          <button class="btn alert-success" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      <tr>
        <td>Mock User ID</td>
        <td>Mock Username</td>
        <td>Mock Email</td>
        <td>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-info" style="margin-left: 10px">Details</button>
          <button class="btn alert-success" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      <tr>
        <td>Mock User ID</td>
        <td>Mock Username</td>
        <td>Mock Email</td>
        <td>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-info" style="margin-left: 10px">Details</button>
          <button class="btn alert-success" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      <tr>
        <td>Mock User ID</td>
        <td>Mock Username</td>
        <td>Mock Email</td>
        <td>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-info" style="margin-left: 10px">Details</button>
          <button class="btn alert-success" style="margin-left: 10px">Update</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


</div>
