<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead">Happypets is an innovative system where you can find hosts to take care of your pets, or you can
        become your own host and provide animal care services.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a href="#">
        <button class="btn btn btn-outline-secondary btn-lg" type="button">Learn more about us</button>
      </a>
    </div>
  </div>
</div>
