<div class="container">

  <mat-expansion-panel *ngFor="let clientRequest of sitterAcceptedRequests" class="m-3">
    <mat-expansion-panel-header class="font-weight-bold">
      From client:  {{clientRequest.fromClient.firstName}} {{clientRequest.fromClient.lastName}}
    </mat-expansion-panel-header>

    <mat-card class="m-2">
      <mat-card-title>
        Start date and End date
      </mat-card-title>
      <mat-card-content>
        From {{clientRequest.startDate}} to {{clientRequest.endDate}}
      </mat-card-content>
    </mat-card>

    <mat-card class="m-2">
      <mat-card-title>Services requested</mat-card-title>
      <mat-card-content>
        <ul *ngFor="let service of clientRequest.orderServicesSet">
          <div>
            {{service.name}} - {{service.price}} RON
          </div>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-action-row>
      <!--      <button color="primary" class="border border-dark" mat-button (click)="acceptRequest(clientRequest.id)">Accept</button>-->
      <!--      <button color="accent" class="border border-dark" mat-button (click)="declineRequest(clientRequest.id)">Decline</button>-->
    </mat-action-row>
  </mat-expansion-panel>
</div>
