<div class="container">

  <mat-card>
    <form (ngSubmit)="onUpload()">
      <!--    Upload img section-->
      <mat-card>
        <input type="file" #fileDropRef id="fileDropRef" hidden accept="image/*" style="display: block"
               (change)="onFileChanged($event); preview(fileDropRef.files) "/>

        <div class="text-center" *ngIf="!selectedFile">
          <h4> Upload a profile picture!</h4>
          <p> A profile picture will definitely increase the number of clients!</p>
          <label for="fileDropRef" class="fileLabel"> Upload profile picture!</label>
        </div>

        <div *ngIf="selectedFile">
          <div>
            <img [src]="imgURL">
          </div>
          <div>
            <p class="display-4 leadp-3">You look amazing!</p>
            <label for="fileDropRef" class="fileLabel">I want to upload a new picture!</label>
          </div>
        </div>
      </mat-card>

      <!--  Animal Type -->
      <mat-card class=" animal-type">
        <h5>What animal type do you accept?</h5>
        <mat-checkbox (change)="handleAnimalAcceptance(dogs.value)" value="Dogs" #dogs color="primary" class="p-3">
          Dogs
        </mat-checkbox>
        <mat-checkbox (change)="handleAnimalAcceptance(cats.value)" value="Cats" #cats color="primary" class="p-3">
          Cats
        </mat-checkbox>
      </mat-card>

      <mat-card *ngIf="dogs.checked" class=" p-3">
        <h5>Dog size:</h5>
        <mat-checkbox (change)="handleDogSize($event.source.value)" color="primary" value="small" class="">Small: 0-6
          Kg
        </mat-checkbox>
        <mat-checkbox (change)="handleDogSize($event.source.value)" color="primary" value="medium" class="">Medium: 7-18
          Kg
        </mat-checkbox>
        <mat-checkbox (change)="handleDogSize($event.source.value)" color="primary" value="large" class="">large: 19-45
          Kg
        </mat-checkbox>
        <mat-checkbox (change)="handleDogSize($event.source.value)" color="primary" value="giant" class="">Giant: 45+
          Kg
        </mat-checkbox>
      </mat-card>
      <!--  Services   -->

      <mat-card class=" services">
        <h5>What service type do you offer?</h5>
        <mat-checkbox #boarding color="primary" value="Boarding" class="col-2 col-md-6 col-sm-6 col-xs-6 p-3">Boarding
        </mat-checkbox>
        <mat-checkbox #houseSitting color="primary" value="House sitting" class="col-2 col-md-6 col-sm-6 col-xs-6 p-3">
          House Sitting
        </mat-checkbox>
        <mat-checkbox #dropInVisits color="primary" value="Drop In Visits" class="col-2 col-md-6 col-sm-6 col-xs-6 p-3">
          Drop in Visits
        </mat-checkbox>
        <mat-checkbox #dogWalking color="primary" value="Dog Walking" class="col-2 col-md-6 col-sm-6 col-xs-6 p-3">Dog
          Walking
        </mat-checkbox>
        <mat-checkbox #doggyDayCare color="primary" value="Doggy Day Care" class="col-2 col-md-6 col-sm-6 col-xs-6 p-3">
          Doggy Day Care
        </mat-checkbox>
      </mat-card>

      <!--      Service Pricing -->
      <mat-card
        *ngIf="boarding.checked || houseSitting.checked || dropInVisits.checked || dogWalking.checked || doggyDayCare.checked">
        <h5>Select a price per hour for your services?</h5>
        <div *ngIf="boarding.checked">
          Price for {{boarding.value}}
          <mat-slider min="10" max="50" step="1" value="10" #boardingSlider></mat-slider>
          {{boardingSlider.value}} RON
        </div>
        <div *ngIf="houseSitting.checked">
          Price for {{houseSitting.value}}
          <mat-slider min="10" max="50" step="1" value="10" #houseSittingSlider></mat-slider>
          {{houseSittingSlider.value}} RON
        </div>
        <div *ngIf="dropInVisits.checked">
          Price for {{dropInVisits.value}}
          <mat-slider min="10" max="50" step="1" value="10" #dropInVisitsSlider></mat-slider>
          {{dropInVisitsSlider.value}} RON
        </div>
        <div *ngIf="dogWalking.checked">
          Price for {{dogWalking.value}}
          <mat-slider min="10" max="50" step="1" value="10" #dogWalkingSlider></mat-slider>
          {{dogWalkingSlider.value}} RON
        </div>
        <div *ngIf="doggyDayCare.checked">
          Price for {{doggyDayCare.value}}
          <mat-slider min="10" max="50" step="1" value="10" #doggyDayCareSlider></mat-slider>
          {{doggyDayCareSlider.value}} RON
        </div>
      </mat-card>

      <!--       House type -->
      <mat-card class="">
        <h5>Where do you live?</h5>
        <mat-radio-group required aria-label="Select an option" name="typeOfHouse">
          <mat-radio-button value="house" color="primary" class="">House</mat-radio-button>
          <mat-radio-button value="flat" color="primary" class="">Flat</mat-radio-button>
        </mat-radio-group>
      </mat-card>

      <mat-card class="">
        <h5>Do you have any pets?</h5>
        <mat-radio-group required aria-label="Select an option" name="typeOfHouse">
          <mat-radio-button value="yes" color="primary" class="">Yes</mat-radio-button>
          <mat-radio-button value="no" color="primary" class="">No</mat-radio-button>
        </mat-radio-group>
      </mat-card>


      <!--    Terms and conditions -->
      <mat-card class="text-center">
        <h5> Do you agree with our <a href="tcs"> Terms and conditions?</a></h5>
        <mat-checkbox type="checkbox" color="warn" #acceptCheck> Accept terms and conditions!</mat-checkbox>
      </mat-card>

            <button [disabled]="!selectedFile || !acceptCheck.checked" mat-raised-button class="m-4" color="primary" >Primary</button>
<!--      <button mat-raised-button class="m-4" color="primary">Primary</button>-->

    </form>

  </mat-card>
</div>

<!--<app-footer></app-footer>-->
