<div class="container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>


  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fname">
      <mat-header-cell *matHeaderCellDef> First Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.userDetails.firstName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lname">
      <mat-header-cell *matHeaderCellDef> Last Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.userDetails.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let user">
        {{user.element.email}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
             [cdkDetailRowTpl]="tpl">
    </mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 100]"></mat-paginator>

  <ng-template #tpl let-user>
    <div class="mat-row detail-row text-center font-weight-" [@detailExpand] style="overflow: hidden">
      <!--      The symbol for {{user.id}} is {{user.userDetails.firstName}}-->
      <div>
        Information about: <strong style="color: #3F51B5">{{user.username.toLocaleUpperCase()}}</strong>
      </div>
      <div>
        Last Login: <strong style="color: #3F51B5">{{user.userAccountStatus.lastLogin}}</strong>
        <mat-divider></mat-divider>
        Created at: <strong style="color: #3F51B5">{{user.userAccountStatus.createdAt}}</strong>
        <mat-divider></mat-divider>


        Updated at: <strong style="color: #3F51B5">{{user.userAccountStatus.updatedAt}}</strong>
        <mat-divider></mat-divider>


        Is Banned: <strong style="color: #3F51B5">{{!user.userAccountStatus.isBanned}}</strong>
        <mat-divider></mat-divider>

      </div>

      <button mat-button color="error">Disable account</button>
      <button mat-button color="primary">Edit account</button>

    </div>
  </ng-template>

</div>

